{% extends 'layout.html' %}

{% block title %}项目列表 {% endblock %}
{% block content %}
    <div class="container">
        <h1>项目列表</h1>
        {% csrf_token %}
        <div>
            <a style="margin: 10px 0;" href="{% url 'project_add' %}" class="btn btn-primary">添加</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>项目名</th>
                <th>仓库地址</th>
                <th>环境</th>
                <th>线上路径</th>
                <th>关联服务器</th>
                <th>发布任务</th>
                <th>操作</th>
            </thead>
            <tbody>
            {% for obj in project_obj %}
                <tr>
                    <th>{{ obj.id }}</th>
                    <th>{{ obj.title }}</th>
                    <th>{{ obj.repo }}</th>
                    <th>{{ obj.env }}</th>
                    <th>{{ obj.path }}</th>
                    <th>
                        {% for item in obj.server.all %}
                            <span style="border: 1px solid #ddd; padding: 5px;">{{ item }}</span>
                        {% endfor %}
                    </th>
                    <th><a href="{% url 'task_list' project_id=obj.id %}">发布任务</a></th>
                    <th><span><a href="{% url 'project_edit' pk=obj.id %}">编辑</a></span> <span><a onclick="removeRow(this,{{obj.id}});">删除</a></span></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
<script>
    csrf = $("[name='csrfmiddlewaretoken']").val()
    function removeRow(ths,rid){
        var result = confirm("是否确定要删除?");
        if(result){
            $.ajax({
                url: "/project/del/" + rid + "",
                type: 'post',
                data: { 'csrfmiddlewaretoken': csrf },
                dataType: 'json',
                success:function(res){
                    if(res.status){
                        $(ths).parent().parent().parent().remove();
                    }
                }

            });


        }
    };
</script>
{% endblock %}